<% provide(:title, 'Panel Administratora') %>

<h2>Panel administracyjny</h2>

<%= form_for(:page, url: admin_path) do |f| %>

	<div id="about_section" class="">
		<h2>Edycja strony "O nas"</h2>	
		<%= f.trix_editor :about, :style => "background-color: white" %>
		<br>
	</div>

	<div id="contact_section" class="">
		<h2>Edycja strony "Kontakt"</h2>
		<%= f.trix_editor :contact, :style => "background-color: white" %>
		<br>
	</div>

	<div>
		<%= f.submit "Aktualizuj", class: "btn btn-primary" %>
	</div>

<% end %>