<% provide(:title, 'Strona główna') %>


<h1>Strona główna - galeria sztuki</h1>

<% if isAdmin? %>

<div id="arts"  data-url="<%= sort_arts_path %>">
	<% @arts.each do |art| %>
			<%= link_to image_tag(art.image, :class => "art_image"), art, class: "col-lg-3 col-md-4 col-xs-6 art_container", id: dom_id(art) %>
	<% end %>
</div>

<% else %>

<div>
	<% @arts.each do |art| %>
			<%= link_to image_tag(art.image, :class => "art_image"), art, class: "col-lg-3 col-md-4 col-xs-6 art_container" %>
	<% end %>
</div>

<% end %>

