<% provide(:title, 'Strona główna') %>


  <h1>Strona przykładowa - galeria sztuki</h1>

  <h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer augue urna, facilisis non dui at, vestibulum aliquam metus. Vivamus mollis eu dui eu vestibulum.
  </h2>

  <%= link_to "Zaloguj się!", signin_path, class: "btn btn-lg btn-primary" %>

