// Place all the styles related to the arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.art_container {
	padding: 0 !important;
   	margin: 0 !important;
}

.art_image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    .art_image {
    	width: 100%;
    	height: 200px;
    	object-fit: cover;
	}
}

@media screen and (max-width: 350px) {
    .art_image {
    	width: 100%;
    	height: 100px;
    	object-fit: cover;
	}
}

.art_overlay {
	z-index: 2;
	width: 100%;
  	height: 100%;
 	position: absolute;
 	top: 0;
  	left: 0;
  	background: #00000064;
  	opacity: 0;
  	transition: .5s ease;
}

.art_overlay:hover {
	opacity: 1;
}

.art_text {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 10px;
  color: white;
}

#art_nav_left {
  float: left;
  margin-left: 10px;
}

#art_nav_right {
  float: right;
  margin-right: 10px;
}

.pagination {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
