// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

bodyasd { 
  background: url(/assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html *{
  font-family: Helvetica, Arial
}

.jumbotron {
  padding-top: 20px !important;
}

.gridster{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gridster li{
  background-color: white;
}

.gridster ul {
  list-style-type: none;
}

.home_image_inner img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

home_image_box {
  background-color: #00ff00;
  width: 75px;
  height: 75px;
  position: relative;
}



